* {
  box-sizing: border-box;
}

:root {
  --gray-darker: #444444;
  --gray-dark: #696969;
  --gray: #999999;
  --gray-light: #cccccc;
  --gray-lighter: #ececec;
  --gray-lightest: lighten(@gray-lighter, 4%);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
/* Header Section Start */
.header {
  padding: 60px;
  text-align: center;
  background-position: 30%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  min-height: 250px;
  transition: background-image 1s ease-in-out; /* Smooth transition */
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #117554;
}

.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar a:hover {
  background-color: #6ec207;
}

.navbar a.active {
  background-color: #6ec207;
}

.navbar .icon {
  display: none;
}

/* Header Section End */

/* main section start */
.row {
  display: flex;
  flex-wrap: wrap;
}

.fake-img {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.fake-img1 {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  width: 100%;
}

.fake-img2 {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  width: 100%;
}

.fake-img3 {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  width: 100%;
}

.fake-img4 {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  width: 100%;
}

.fake-img5 {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  width: 100%;
}

.sidebar {
  flex: 25%;
  background-color: #fff;
  padding: 20px;
  order: 2;
}

.news1 {
  text-decoration: none;
  color: #640d5f;
}

.news1:hover {
  color: #d91656;
  text-decoration: underline;
}

#content {
  flex: 75%;
  background-color: #f1f1f1;
  padding: 20px;
  order: 1;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  background-color: white;
  border: 1px solid var(--gray-light);
  border-radius: 1rem;
  color: var(--gray-dark);
  padding: 0.5rem;
  text-transform: lowercase;
}

.btn--block {
  display: block;
  width: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: flex;
  padding: 1rem;
  @media (min-width: 40rem) {
    width: 50%;
  }
  @media (min-width: 56rem) {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &:hover {
    .card__image {
      filter: contrast(100%);
    }
  }
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  filter: saturate(180%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  &::before {
    content: "";
    display: block;
    padding-top: 56.25%;
  }
  @media (min-width: 40rem) {
    &::before {
      padding-top: 66.6%;
    }
  }
}

.card__image--flowers {
  background-image: url(https://unsplash.it/800/600?image=82);
}

.card__image--river {
  background-image: url(https://cdn.pixabay.com/photo/2018/10/15/21/57/smarthome-3750130_640.jpg);
}

.card__image--record {
  background-image: url(https://cdn.pixabay.com/photo/2022/10/04/21/25/xr-7499160_1280.jpg);
}

.card__image--fence {
  background-image: url(https://cdn.pixabay.com/photo/2020/05/14/17/32/arduino-5170681_640.jpg);
}

.card__title {
  color: #640d5f;
  font-size: 1.25rem;
  font-weight: 500;
}

.card__title:hover {
  color: #d91656;
  text-decoration: underline;
  cursor: pointer;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

/* main section end */

footer {
  display: flex;
  justify-content: center;
  background-color: #fff;
  max-width: 100%;
  min-height: 50px;
}

footer a {
  text-decoration: none;
  color: black;
}

/* media query */
@media screen and (max-width: 600px) {
  .row,
  .navbar {
    flex-direction: column;
  }
  .fake-img3 {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
